import(methods)
import(utils)
import(stats)
export(cross_entropy_control)
export(fftree)
export(splitFeatures)
export(tally)
exportClasses(fftreeModel)
exportClasses(splits)
exportClasses(tallyModel)
exportMethods(plot)
exportMethods(predict)
exportMethods(show)
importFrom(Rcpp, evalCpp)
useDynLib(ffcr, .registration=TRUE)
